h1{

    

    text-align: center;
}
body{

    background-color: rgb(208, 219, 219);
}
#btn-add{
background-color: blue;
position: fixed;
color: antiquewhite;
bottom: 5%;
right: 7%;
height: 70px;
width: 70px;
font-size: 50px;
border-radius: 100px;
text-align: center;
cursor: pointer;
box-shadow: 0px 5px 10px rgb(22, 5, 5);



}